In [1]:
import pandas as pd

pk = pd.read_csv('pokemon_data.csv')

pk.head()

,id,species,generation_id,evolution_chain_id,gender_rate,capture_rate,base_happiness,has_gender_differences,type1,type2,attack,defense,hp,special-attack,special-defense,speed,habitat
0,1,bulbasaur,1,1,1,45,70,0,grass,poison,49,49,45,65,65,45,grassland
1,2,ivysaur,1,1,1,45,70,0,grass,poison,62,63,60,80,80,60,grassland
2,3,venusaur,1,1,1,45,70,1,grass,poison,82,83,80,100,100,80,grassland
3,4,charmander,1,2,1,45,70,0,fire,NaN,52,43,39,60,50,65,mountain
4,5,charmeleon,1,2,1,45,70,0,fire,NaN,64,58,58,80,65,80,mountain

In [ ]:
import seaborn as sns

sns.barplot(x=pk['type1'], y=pk[''])